In [1]:
# IMPORTACIÓN DE LIBRERÍAS NECESARIAS PARA EL PROYECTO

import sqlite3
import pyodbc
import pymongo
import pandas as pd
import couchdb
import json
import csv
from textblob import TextBlob
from pymongo import MongoClient
from datetime import datetime
from bson import ObjectId

In [26]:
# PASO DE ARCHIVOS (DE JSON A CSV)

with open('BBC_NOTICIAS.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("BBC_NOTICIAS.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [27]:
with open('VentasYPopularidadDeAutosE.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("VentasYPopularidadDeAutosE.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [6]:
with open('Peli.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Peli.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [16]:
with open('Restaurantes_ranking.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Restaurantes_ranking.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [31]:
with open('Olimpicos.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Olimpicos.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [5]:
with open('JuegosOlimpicosDATASETS.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Juegos_Olimpicos.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [42]:
with open('Futbol.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Futbol.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [43]:
with open('RecetasComida.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("RecetasComida.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [45]:
with open('India_Noticias.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("India_Noticias.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [54]:
with open('Mundo_Noticias.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Mundo_Noticias.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [49]:
with open('Crypto_Noticias.json', 'r', encoding='utf-8') as json_file:
    data = json.load(json_file)

with open("Crypto_Noticias.csv", "w", newline='', encoding='utf-8') as csv_file:
    # Crear el escritor de CSV
    writer = csv.DictWriter(csv_file, fieldnames=data[0].keys())
    
    # Escribe la cabecera (nombres de columnas)
    writer.writeheader()
    
    # Escribe los datos
    for row in data:
        writer.writerow(row)

In [4]:
# ---------------------------------------------------------------------------

In [2]:
# PASO DE ARCHIVOS (DE CSV A JSON)

with open("BBC_NOTICIAS.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("BBC_NOTI_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [4]:
with open("Peli.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Peli-JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [5]:
with open("Olimpicos.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Olimpicos-JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [6]:
with open("VentasYPopularidadDeAutosE.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("VentasYPopularidadDeAutosE-JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [7]:
with open("Restaurantes_ranking.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Restaurantes_ranking-JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [50]:
with open("Futbol.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Futbol_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [51]:
with open("RecetasComida.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("RecetasComida_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [52]:
with open("India_Noticias.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("India_Noticias_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [55]:
with open("Mundo_Noticias.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Mundo_Noticias_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [56]:
with open("Crypto_Noticias.csv", "r", encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    data = [row for row in csv_reader]

with open("Crypto_Noticias_JSON.json", "w", encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

In [29]:
# ----------------------------- LIMPIEZA DE DATOS ---------------------------

In [36]:
df = pd.read_csv('BBC_NOTICIAS.csv')

nulos = df.isnull().sum()

print(nulos)

if nulos.sum() > 0:
    print("El archivo tiene valores nulos.")
else:
    print("El archivo no tiene valores nulos.")

_id            0
title          0
pubDate        0
guid           0
link           0
description    0
dtype: int64
El archivo no tiene valores nulos.

In [37]:
df = pd.read_csv('Peli.csv')

nulos = df.isnull().sum()

print(nulos)

if nulos.sum() > 0:
    print("El archivo tiene valores nulos.")
else:
    print("El archivo no tiene valores nulos.")

_id                  0
Unnamed: 1           0
id                   0
original_title       0
original_language    0
release_date         0
popularity           0
vote_average         0
vote_count           0
media_type           0
adult                0
dtype: int64
El archivo no tiene valores nulos.

In [38]:
df = pd.read_csv('Olimpicos.csv')

nulos = df.isnull().sum()

print(nulos)

if nulos.sum() > 0:
    print("El archivo tiene valores nulos.")
else:
    print("El archivo no tiene valores nulos.")

_id       0
ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64
El archivo no tiene valores nulos.

In [39]:
df = pd.read_csv('VentasYPopularidadDeAutosE.csv')

nulos = df.isnull().sum()

print(nulos)

if nulos.sum() > 0:
    print("El archivo tiene valores nulos.")
else:
    print("El archivo no tiene valores nulos.")

_id           0
region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64
El archivo no tiene valores nulos.

In [40]:
df = pd.read_csv('Restaurantes_ranking.csv')

nulos = df.isnull().sum()

print(nulos)

if nulos.sum() > 0:
    print("El archivo tiene valores nulos.")
else:
    print("El archivo no tiene valores nulos.")

_id                     0
Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64
El archivo no tiene valores nulos.

In [5]:
# ----------------------------------------------------------------------------

In [2]:
# PASO DE ARCHIVOS (DE JSON A DB (SQLite))

with open ("BBC_NOTICIAS.json", "r", encoding='utf-8') as file:
    data = json.load(file)

conexion = sqlite3.connect("BBC_NOTICIAS.db")
cursor = conexion.cursor()
cursor.execute("PRAGMA journal_mode=WAL;")
cursor.execute("""
CREATE TABLE IF NOT EXISTS noticias (
    id TEXT PRIMARY KEY,
    title TEXT NOT NULL,
    pubDate TEXT NOT NULL,
    guid TEXT NOT NULL,
    link TEXT NOT NULL,
    description TEXT NOT NULL
)
""")

# Insertar datos en la tabla
for item in data:
    cursor.execute("""
    INSERT OR IGNORE  INTO noticias (id, title, pubDate, guid, link, description)
    VALUES (?, ?, ?, ?, ?, ?)
    """, (
        item["_id"]["$oid"],  # Convertir el campo _id.$oid a texto
        item["title"],
        item["pubDate"],
        item["guid"],
        item["link"],
        item["description"]
    ))

# Guardar los cambios y cerrar la conexión
conexion.commit()
conexion.close()

In [9]:
with open ("Olimpicos.json", "r", encoding='utf-8') as file:
    data = json.load(file)

conexion = sqlite3.connect("Olimpicos.db")
cursor = conexion.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS athletes (
    id TEXT PRIMARY KEY,
    I_D INTEGER NOT NULL,
    Name TEXT NOT NULL,
    Sex TEXT NOT NULL,
    Age INTEGER,
    Height INTEGER,
    Weight INTEGER,
    Team TEXT NOT NULL,
    NOC TEXT NOT NULL,
    Games TEXT NOT NULL,
    Year INTEGER NOT NULL,
    Season TEXT NOT NULL,
    City TEXT NOT NULL,
    Sport TEXT NOT NULL,
    Event TEXT NOT NULL,
    Medal TEXT
)""")

# Insertar datos en la tabla
for item in data:
    try:
        # Convertir campos como "Height" y "Weight" de "NA" a None si es necesario
        height = None if item["Height"] == "NA" else item["Height"]
        weight = None if item["Weight"] == "NA" else item["Weight"]
        
        # Insertar los datos
        cursor.execute("""
        INSERT OR IGNORE INTO athletes (
            id, I_D, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (
            item["_id"]["$oid"],  
            item["ID"],           
            item["Name"],         
            item["Sex"],          
            item["Age"],          
            height,               
            weight,               
            item["Team"],         
            item["NOC"],          
            item["Games"],        
            item["Year"],         
            item["Season"],       
            item["City"],         
            item["Sport"],        
            item["Event"],        
            item["Medal"]
        ))

    except KeyError as e:
        print(f"Error con el campo {e} en el registro: {item}")

# Guardar los cambios y cerrar la conexión
conexion.commit()
conexion.close()

In [2]:
with open ("Restaurantes_ranking.json", "r", encoding='utf-8') as file:
    data = json.load(file)

conexion = sqlite3.connect("Restaurantes_ranking.db")
cursor = conexion.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS restaurants (
    id TEXT PRIMARY KEY,
    restaurant_id INTEGER,
    restaurant_name TEXT,
    country_code INTEGER,
    city TEXT,
    address TEXT,
    locality TEXT,
    locality_verbose TEXT,
    longitude REAL,
    latitude REAL,
    cuisines TEXT,
    average_cost_for_two INTEGER,
    currency TEXT,
    has_table_booking TEXT,
    has_online_delivery TEXT,
    is_delivering_now TEXT,
    switch_to_order_menu TEXT,
    price_range INTEGER,
    aggregate_rating REAL,
    rating_color TEXT,
    rating_text TEXT,
    votes INTEGER
)
''')

# Insertar datos en la tabla

for restaurant in data:
    # Usar un valor predeterminado si la clave 'Cuisines' no existe
    cuisines = restaurant.get('Cuisines', '')
    
    cursor.execute('''
    INSERT INTO restaurants (
        id, restaurant_id, restaurant_name, country_code, city, address, locality, locality_verbose,
        longitude, latitude, cuisines, average_cost_for_two, currency, has_table_booking,
        has_online_delivery, is_delivering_now, switch_to_order_menu, price_range, aggregate_rating,
        rating_color, rating_text, votes
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        restaurant['_id']['$oid'], restaurant['Restaurant ID'], restaurant['Restaurant Name'], restaurant['Country Code'], restaurant['City'],
        restaurant['Address'], restaurant['Locality'], restaurant['Locality Verbose'], restaurant['Longitude'],
        restaurant['Latitude'], cuisines, restaurant['Average Cost for two'], restaurant['Currency'],
        restaurant['Has Table booking'], restaurant['Has Online delivery'], restaurant['Is delivering now'],
        restaurant['Switch to order menu'], restaurant['Price range'], restaurant['Aggregate rating'],
        restaurant['Rating color'], restaurant['Rating text'], restaurant['Votes']
    ))

# Guardar los cambios y cerrar la conexión
conexion.commit()
conexion.close()

In [5]:
# Cargar el archivo JSON
with open("VentasYPopularidadDeAutosE.json", "r", encoding='utf-8') as file:
    data = json.load(file)

# Conectar a la base de datos SQLite (la creará si no existe)
conexion = sqlite3.connect("VentasPopularidadDeAutosE.db")
cursor = conexion.cursor()

# Crear la tabla si no existe
cursor.execute('''
CREATE TABLE IF NOT EXISTS historical_data (
    id TEXT PRIMARY KEY,
    region TEXT,
    category TEXT,
    parameter TEXT,
    mode TEXT,
    powertrain TEXT,
    year INTEGER,
    unit TEXT,
    value REAL
)
''')

# Insertar los datos en la tabla
for entry in data:
    cursor.execute('''
    INSERT INTO historical_data (
        id, region, category, parameter, mode, powertrain, year, unit, value
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        entry['_id']['$oid'], entry['region'], entry['category'], entry['parameter'],
        entry['mode'], entry['powertrain'], entry['year'], entry['unit'], entry['value']
    ))

# Guardar los cambios y cerrar la conexión
conexion.commit()
conexion.close()

In [8]:
# Cargar el archivo JSON
with open("PELI.json", "r", encoding='utf-8') as file:
    data = json.load(file)

# Conectar a la base de datos SQLite (la creará si no existe)
conexion = sqlite3.connect("movies.db")
cursor = conexion.cursor()

# Crear la tabla si no existe, incluyendo el campo '_id' y el campo con clave vacía
cursor.execute('''
CREATE TABLE IF NOT EXISTS movies (
    _id TEXT PRIMARY KEY,
    empty_key INTEGER,  -- Este es el campo con la clave vacía
    id INTEGER,
    original_title TEXT,
    original_language TEXT,
    release_date TEXT,
    popularity REAL,
    vote_average REAL,
    vote_count INTEGER,
    media_type TEXT,
    adult BOOLEAN
)
''')

# Insertar los datos en la tabla, incluyendo el campo '_id' y el campo con clave vacía
for entry in data:
    cursor.execute('''
    INSERT INTO movies (
        _id, empty_key, id, original_title, original_language, release_date, popularity, vote_average,
        vote_count, media_type, adult
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        entry['_id']['$oid'], entry.get('', None), entry.get('id', None), entry.get('original_title', None),
        entry.get('original_language', None), entry.get('release_date', {}).get('$date', None),
        entry.get('popularity', None), entry.get('vote_average', None), entry.get('vote_count', None),
        entry.get('media_type', None), entry.get('adult', None)
    ))

# Guardar los cambios y cerrar la conexión
conexion.commit()
conexion.close()

In [8]:
# -------------------------------- DE SQL A NoSQL ------------------------------------------

In [19]:
# PASO DE ARCHIVOS (DB - SQLITE A MONGODB)

sqlite_conn = sqlite3.connect("BBC_NOTICIAS.db") 
sqlite_cursor = sqlite_conn.cursor()

client = MongoClient("mongodb://localhost:27017/") 
mongodb = client["RELACIONAL-NO-RELACIONAL"]  
coleccion = mongodb["BBC_NOTICIAS_MONGO"]
sqlite_cursor.execute("SELECT * FROM noticias")
columnas = [desc[0] for desc in sqlite_cursor.description]

documentos = []
for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    documentos.append(documento)

if documentos:  # Insertar solo si hay datos
    coleccion.insert_many(documentos)

# Cerrar conexiones
sqlite_conn.close()
client.close()

In [20]:
sqlite_conn = sqlite3.connect("Olimpicos.db") 
sqlite_cursor = sqlite_conn.cursor()

client = MongoClient("mongodb://localhost:27017/") 
mongodb = client["RELACIONAL-NO-RELACIONAL"]  
coleccion = mongodb["OLIMPICOS_MONGO"]
sqlite_cursor.execute("SELECT * FROM athletes")
columnas = [desc[0] for desc in sqlite_cursor.description]

documentos = []
for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    documentos.append(documento)

if documentos:  # Insertar solo si hay datos
    coleccion.insert_many(documentos)

# Cerrar conexiones
sqlite_conn.close()
client.close()

In [21]:
sqlite_conn = sqlite3.connect("Restaurantes_ranking.db") 
sqlite_cursor = sqlite_conn.cursor()

client = MongoClient("mongodb://localhost:27017/") 
mongodb = client["RELACIONAL-NO-RELACIONAL"]  
coleccion = mongodb["RESTAURANTES_RANKING_MONGO"]
sqlite_cursor.execute("SELECT * FROM restaurants")
columnas = [desc[0] for desc in sqlite_cursor.description]

documentos = []
for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    documentos.append(documento)

if documentos:  # Insertar solo si hay datos
    coleccion.insert_many(documentos)

# Cerrar conexiones
sqlite_conn.close()
client.close()

In [22]:
sqlite_conn = sqlite3.connect("movies.db") 
sqlite_cursor = sqlite_conn.cursor()

client = MongoClient("mongodb://localhost:27017/") 
mongodb = client["RELACIONAL-NO-RELACIONAL"]  
coleccion = mongodb["PELICULAS_MONGO"]
sqlite_cursor.execute("SELECT * FROM movies")
columnas = [desc[0] for desc in sqlite_cursor.description]

documentos = []
for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    documentos.append(documento)

if documentos:  # Insertar solo si hay datos
    coleccion.insert_many(documentos)

# Cerrar conexiones
sqlite_conn.close()
client.close()

In [23]:
sqlite_conn = sqlite3.connect("VentasPopularidadDeAutosE.db") 
sqlite_cursor = sqlite_conn.cursor()

client = MongoClient("mongodb://localhost:27017/") 
mongodb = client["RELACIONAL-NO-RELACIONAL"]  
coleccion = mongodb["VENTA_POPULARIDAD_AUTOS_MONGO"]
sqlite_cursor.execute("SELECT * FROM historical_data")
columnas = [desc[0] for desc in sqlite_cursor.description]

documentos = []
for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    documentos.append(documento)

if documentos:  # Insertar solo si hay datos
    coleccion.insert_many(documentos)

# Cerrar conexiones
sqlite_conn.close()
client.close()

In [24]:
# ----------------------------------------------------------------------

In [26]:
# PASO DE ARCHIVOS (DB - SQLITE A COUCHDB)

sqlite_conn = sqlite3.connect("BBC_NOTICIAS.db")
sqlite_cursor = sqlite_conn.cursor()

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db_nombre = "bbc_noticias_couchdb"
if db_nombre in couch:
    db = couch[db_nombre]
else:
    db = couch.create(db_nombre)

sqlite_cursor.execute("SELECT * FROM noticias") 
columnas = [desc[0] for desc in sqlite_cursor.description]

for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    db.save(documento)

# Cerrar conexiones
sqlite_conn.close()

In [28]:
sqlite_conn = sqlite3.connect("movies.db")
sqlite_cursor = sqlite_conn.cursor()

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db_nombre = "peliculas_couchdb"
if db_nombre in couch:
    db = couch[db_nombre]
else:
    db = couch.create(db_nombre)

sqlite_cursor.execute("SELECT * FROM movies") 
columnas = [desc[0] for desc in sqlite_cursor.description]

for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    db.save(documento)

# Cerrar conexiones
sqlite_conn.close()

In [32]:
sqlite_conn = sqlite3.connect("Olimpicos.db")
sqlite_cursor = sqlite_conn.cursor()

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db_nombre = "olimpicos_couchdb"
if db_nombre in couch:
    db = couch[db_nombre]
else:
    db = couch.create(db_nombre)

sqlite_cursor.execute("SELECT * FROM athletes") 
columnas = [desc[0] for desc in sqlite_cursor.description]

for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    db.save(documento)

# Cerrar conexiones
sqlite_conn.close()

In [33]:
sqlite_conn = sqlite3.connect("Restaurantes_ranking.db")
sqlite_cursor = sqlite_conn.cursor()

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db_nombre = "restaurantes_couchdb"
if db_nombre in couch:
    db = couch[db_nombre]
else:
    db = couch.create(db_nombre)

sqlite_cursor.execute("SELECT * FROM restaurants") 
columnas = [desc[0] for desc in sqlite_cursor.description]

for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    db.save(documento)

# Cerrar conexiones
sqlite_conn.close()

In [34]:
sqlite_conn = sqlite3.connect("VentasPopularidadDeAutosE.db")
sqlite_cursor = sqlite_conn.cursor()

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db_nombre = "autos_couchdb"
if db_nombre in couch:
    db = couch[db_nombre]
else:
    db = couch.create(db_nombre)

sqlite_cursor.execute("SELECT * FROM historical_data") 
columnas = [desc[0] for desc in sqlite_cursor.description]

for fila in sqlite_cursor.fetchall():
    documento = {columnas[i]: fila[i] for i in range(len(columnas))}
    db.save(documento)

# Cerrar conexiones
sqlite_conn.close()

In [9]:
# --------------------------------- DE NoSQL A SQL ---------------------------------------
# PASO DE ARCHIVOS (MONGODB A SQL SERVER)

In [8]:
client = pymongo.MongoClient("mongodb://localhost:27017/")  
db = client["RELACIONAL-NO-RELACIONAL"]
collection = db["BBC_NOTICIAS_MONGO"]

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=DESKTOP-CPD7SBF\\SQLEXPRESS;'
                      'DATABASE=De_NoSQL_SQL;'
                      'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='noticias' AND xtype='U')
CREATE TABLE noticias (
    id NVARCHAR(255) PRIMARY KEY,
    title NVARCHAR(255),
    pubDate DATETIME,
    guid NVARCHAR(255),
    link NVARCHAR(255),
    description TEXT
)
""")
conn.commit()

def insertar_lote(lote):
    try:
        for item in lote:
            cursor.execute("""
            MERGE INTO noticias AS target
            USING (VALUES (?, ?, ?, ?, ?, ?)) AS source (id, title, pubDate, guid, link, description)
                ON target.id = source.id
            WHEN NOT MATCHED THEN
                INSERT (id, title, pubDate, guid, link, description)
                VALUES (source.id, source.title, source.pubDate, source.guid, source.link, source.description);
            """, item[0], *item[1:])
        
        conn.commit()
    except Exception as e:
        print(f"Error al insertar lote: {e}")
        conn.rollback() 

batch_size = 100000  
lote = []

for document in collection.find({}, no_cursor_timeout=True).batch_size(batch_size):
    try:
        pubDate = document["pubDate"]
        pubDate = datetime.strptime(pubDate, "%a, %d %b %Y %H:%M:%S GMT")

        lote.append((
            document["id"],
            document["title"],
            pubDate,
            document["guid"],
            document["link"],
            document["description"]
        ))
        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = [] 

    except Exception as e:
        print(f"Error al procesar el documento con id {document.get('id', 'desconocido')}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [14]:
client = pymongo.MongoClient("mongodb://localhost:27017/")  
db = client["RELACIONAL-NO-RELACIONAL"]
collection = db["OLIMPICOS_MONGO"]

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=DESKTOP-CPD7SBF\\SQLEXPRESS;'
                      'DATABASE=De_NoSQL_SQL;'
                      'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='deportista' AND xtype='U')
CREATE TABLE deportistas (
    id NVARCHAR(255) PRIMARY KEY,
    I_D INT,
    Name NVARCHAR(255),
    Sex NVARCHAR(50),
    Age INT,
    Height INT,
    Weight INT,
    Team NVARCHAR(100),
    NOC NVARCHAR(50),
    Games NVARCHAR(100),
    Year INT,
    Season NVARCHAR(50),
    City NVARCHAR(100),
    Sport NVARCHAR(100),
    Event NVARCHAR(255),
    Medal NVARCHAR(50)
)
""")
conn.commit()

def insertar_lote(lote):
    try:
        for item in lote:
            cursor.execute("""
            MERGE INTO deportistas AS target
            USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (id, I_D, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
                ON target.id = source.id
            WHEN NOT MATCHED THEN
                INSERT (id, I_D, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
                VALUES (source.id, source.I_D, source.Name, source.Sex, source.Age, source.Height, source.Weight, source.Team, source.NOC, source.Games, source.Year, source.Season, source.City, source.Sport, source.Event, source.Medal);
            """, item[0], *item[1:])
        
        conn.commit()
    except Exception as e:
        print(f"Error al insertar lote: {e}")
        conn.rollback() 

batch_size = 100000
lote = []

for document in collection.find({}, no_cursor_timeout=True).batch_size(batch_size):
    try:
        def parse_int(value):
            try:
                return int(value) if value.isdigit() else None
            except Exception:
                return None

        age = parse_int(document.get("Age", ""))
        year = parse_int(document.get("Year", ""))

        lote.append((
            document["id"],
            document["I_D"],
            document["Name"],
            document["Sex"],
            age,
            document["Height"],
            document["Weight"],
            document["Team"],
            document["NOC"],
            document["Games"],
            year,
            document["Season"],
            document["City"],
            document["Sport"],
            document["Event"],
            document["Medal"]
        ))
        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = []

    except Exception as e:
        print(f"Error al procesar el documento con id {document.get('id', 'desconocido')}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [32]:
client = pymongo.MongoClient("mongodb://localhost:27017/")  
db = client["RELACIONAL-NO-RELACIONAL"]  
collection = db["PELICULAS_MONGO"]

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=De_NoSQL_SQL;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='peliculas' AND xtype='U')
CREATE TABLE peliculas (
    empty_key INT PRIMARY KEY,  -- Cambiado a empty_key
    id INT,
    original_title NVARCHAR(255),
    original_language NVARCHAR(50),
    release_date DATETIME,
    popularity FLOAT,
    vote_average FLOAT,
    vote_count INT,
    media_type NVARCHAR(50),
    adult BIT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO peliculas (empty_key, id, original_title, original_language, release_date, popularity, vote_average, vote_count, media_type, adult)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con empty_key {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for document in collection.find({}, no_cursor_timeout=True).batch_size(batch_size):
    release_date = document.get("release_date")
    
    if release_date:
        try:
            release_date = datetime.strptime(release_date, "%Y-%m-%dT%H:%M:%S.%fZ")
        except Exception as e:
            print(f"Error al convertir la fecha: {e}")
    else:
        release_date = None 

    lote.append((
        document["empty_key"],
        document["id"],
        document["original_title"],
        document["original_language"],
        release_date,
        document["popularity"],
        document["vote_average"],
        document["vote_count"],
        document["media_type"],
        bool(document["adult"])
    ))

    if len(lote) >= batch_size:
        insertar_lote(lote)
        lote = []

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [33]:
client = pymongo.MongoClient("mongodb://localhost:27017/")  
db = client["RELACIONAL-NO-RELACIONAL"]  
collection = db["RESTAURANTES_RANKING_MONGO"]

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=De_NoSQL_SQL;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='restaurantes' AND xtype='U')
CREATE TABLE restaurantes (
    id NVARCHAR(50) PRIMARY KEY,
    restaurant_id INT,
    restaurant_name NVARCHAR(255),
    country_code INT,
    city NVARCHAR(100),
    address NVARCHAR(500),
    locality NVARCHAR(255),
    locality_verbose NVARCHAR(500),
    longitude FLOAT,
    latitude FLOAT,
    cuisines NVARCHAR(255),
    average_cost_for_two INT,
    currency NVARCHAR(100),
    has_table_booking NVARCHAR(10),
    has_online_delivery NVARCHAR(10),
    is_delivering_now NVARCHAR(10),
    switch_to_order_menu NVARCHAR(10),
    price_range INT,
    aggregate_rating FLOAT,
    rating_color NVARCHAR(50),
    rating_text NVARCHAR(50),
    votes INT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO restaurantes (
                id, restaurant_id, restaurant_name, country_code, city, address, locality, 
                locality_verbose, longitude, latitude, cuisines, average_cost_for_two, 
                currency, has_table_booking, has_online_delivery, is_delivering_now, 
                switch_to_order_menu, price_range, aggregate_rating, rating_color, 
                rating_text, votes)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con id {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for document in collection.find({}, no_cursor_timeout=True).batch_size(batch_size):
    lote.append((
        document["id"],
        document["restaurant_id"],
        document["restaurant_name"],
        document["country_code"],
        document["city"],
        document["address"],
        document["locality"],
        document["locality_verbose"],
        document["longitude"],
        document["latitude"],
        document["Cuisines"],
        document["average_cost_for_two"],
        document["currency"],
        document["has_table_booking"],
        document["has_online_delivery"],
        document["is_delivering_now"],
        document["switch_to_order_menu"],
        document["price_range"],
        document["aggregate_rating"],
        document["rating_color"],
        document["rating_text"],
        document["votes"]
    ))

    if len(lote) >= batch_size:
        insertar_lote(lote)
        lote = []

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [34]:
client = pymongo.MongoClient("mongodb://localhost:27017/")  
db = client["RELACIONAL-NO-RELACIONAL"]  
collection = db["VENTA_POPULARIDAD_AUTOS_MONGO"]

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=De_NoSQL_SQL;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='electric_vehicles' AND xtype='U')
CREATE TABLE electric_vehicles (
    id NVARCHAR(50) PRIMARY KEY,
    region NVARCHAR(100),
    category NVARCHAR(100),
    parameter NVARCHAR(100),
    mode NVARCHAR(50),
    powertrain NVARCHAR(50),
    year INT,
    unit NVARCHAR(50),
    value FLOAT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO electric_vehicles (
                id, region, category, parameter, mode, powertrain, year, unit, value
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con id {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for document in collection.find({}, no_cursor_timeout=True).batch_size(batch_size):
    lote.append((
        document["id"],
        document.get("region", None),
        document.get("category", None),
        document.get("parameter", None),
        document.get("mode", None),
        document.get("powertrain", None),
        document.get("year", None),
        document.get("unit", None),
        document.get("value", None)
    ))

    if len(lote) >= batch_size:
        insertar_lote(lote)
        lote = []

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [2]:
# --------------------------------------------------------------------------------

In [3]:
# PASO DE ARCHIVOS (COUCHDB A SQL SERVER)

couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db = couch['bbc_noticias_couchdb']

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=DESKTOP-CPD7SBF\\SQLEXPRESS;'
                      'DATABASE=couchdb_sqlserver;'
                      'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='noticias' AND xtype='U')
CREATE TABLE noticias (
    id NVARCHAR(255) PRIMARY KEY,
    title NVARCHAR(255),
    pubDate DATETIME,
    guid NVARCHAR(255),
    link NVARCHAR(255),
    description TEXT
)
""")
conn.commit()

def insertar_lote(lote):
    try:
        for item in lote:
            cursor.execute("""
            MERGE INTO noticias AS target
            USING (VALUES (?, ?, ?, ?, ?, ?)) AS source (id, title, pubDate, guid, link, description)
                ON target.id = source.id
            WHEN NOT MATCHED THEN
                INSERT (id, title, pubDate, guid, link, description)
                VALUES (source.id, source.title, source.pubDate, source.guid, source.link, source.description);
            """, item[0], *item[1:])
        
        conn.commit()
    except Exception as e:
        print(f"Error al insertar lote: {e}")
        conn.rollback() 

batch_size = 7000  
lote = []

for doc_id in db:
    try:
        doc = db[doc_id]
        pubDate = doc.get("pubDate")
        if pubDate:
            pubDate = datetime.strptime(pubDate, "%a, %d %b %Y %H:%M:%S GMT")  # Ajustar formato de fecha

        lote.append((
            doc["id"],                
            doc.get("title", None),     
            pubDate,                    
            doc.get("guid", None),      
            doc.get("link", None),      
            doc.get("description", None)
        ))

        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = []

    except Exception as e:
        print(f"Error al procesar el documento con id {doc_id}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [5]:
couch = couchdb.Server("http://localhost:5984/")  
usuario = "admin" 
contrasena = "123456" 
couch.resource.credentials = (usuario, contrasena)

db = couch['olimpicos_couchdb']

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=DESKTOP-CPD7SBF\\SQLEXPRESS;'
                      'DATABASE=couchdb_sqlserver;'
                      'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='deportistas' AND xtype='U')
CREATE TABLE deportistas (
    id NVARCHAR(255) PRIMARY KEY,
    I_D INT,
    Name NVARCHAR(255),
    Sex NVARCHAR(50),
    Age INT,
    Height INT,
    Weight INT,
    Team NVARCHAR(100),
    NOC NVARCHAR(50),
    Games NVARCHAR(100),
    Year INT,
    Season NVARCHAR(50),
    City NVARCHAR(100),
    Sport NVARCHAR(100),
    Event NVARCHAR(255),
    Medal NVARCHAR(50)
)
""")
conn.commit()

def insertar_lote(lote):
    try:
        for item in lote:
            cursor.execute("""
            MERGE INTO deportistas AS target
            USING (VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)) AS source (id, I_D, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
                ON target.id = source.id
            WHEN NOT MATCHED THEN
                INSERT (id, I_D, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
                VALUES (source.id, source.I_D, source.Name, source.Sex, source.Age, source.Height, source.Weight, source.Team, source.NOC, source.Games, source.Year, source.Season, source.City, source.Sport, source.Event, source.Medal);
            """, item[0], *item[1:])
        
        conn.commit()
    except Exception as e:
        print(f"Error al insertar lote: {e}")
        conn.rollback() 

batch_size = 10000
lote = []

for document_id in db:
    try:
        document = db[document_id]

        def parse_int(value):
            try:
                return int(value) if str(value).isdigit() else None
            except Exception:
                return None

        age = parse_int(document.get("Age", ""))
        year = parse_int(document.get("Year", ""))

        lote.append((
            document["_id"],
            document.get("I_D", None),
            document.get("Name", None),
            document.get("Sex", None),
            age,
            document.get("Height", None),
            document.get("Weight", None),
            document.get("Team", None),
            document.get("NOC", None),
            document.get("Games", None),
            year,
            document.get("Season", None),
            document.get("City", None),
            document.get("Sport", None),
            document.get("Event", None),
            document.get("Medal", None)
        ))
        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = []

    except Exception as e:
        print(f"Error al procesar el documento con id {document_id}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [6]:
couch = couchdb.Server("http://localhost:5984/")
usuario = "admin"
contrasena = "123456"
couch.resource.credentials = (usuario, contrasena)

db = couch['peliculas_couchdb'] 

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=couchdb_sqlserver;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='peliculas' AND xtype='U')
CREATE TABLE peliculas (
    empty_key INT PRIMARY KEY,
    id INT,
    original_title NVARCHAR(255),
    original_language NVARCHAR(50),
    release_date DATETIME,
    popularity FLOAT,
    vote_average FLOAT,
    vote_count INT,
    media_type NVARCHAR(50),
    adult BIT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO peliculas (empty_key, id, original_title, original_language, release_date, popularity, vote_average, vote_count, media_type, adult)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con empty_key {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for document_id in db:
    try:
        document = db[document_id]
        release_date = document.get("release_date")
        if release_date:
            try:
                release_date = datetime.strptime(release_date, "%Y-%m-%dT%H:%M:%S.%fZ")
            except Exception as e:
                print(f"Error al convertir la fecha: {e}")
                release_date = None
        else:
            release_date = None

        lote.append((
            document.get("empty_key", None),
            document.get("id", None),
            document.get("original_title", None),
            document.get("original_language", None),
            release_date,
            document.get("popularity", None),
            document.get("vote_average", None),
            document.get("vote_count", None),
            document.get("media_type", None),
            bool(document.get("adult", False))
        ))

        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = []

    except Exception as e:
        print(f"Error al procesar el documento con id {document_id}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [8]:
couch = couchdb.Server("http://localhost:5984/")
usuario = "admin"
contrasena = "123456"
couch.resource.credentials = (usuario, contrasena)

db = couch['restaurantes_couchdb'] 

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=couchdb_sqlserver;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='restaurantes' AND xtype='U')
CREATE TABLE restaurantes (
    id NVARCHAR(50) PRIMARY KEY,
    restaurant_id INT,
    restaurant_name NVARCHAR(255),
    country_code INT,
    city NVARCHAR(100),
    address NVARCHAR(500),
    locality NVARCHAR(255),
    locality_verbose NVARCHAR(500),
    longitude FLOAT,
    latitude FLOAT,
    cuisines NVARCHAR(255),
    average_cost_for_two INT,
    currency NVARCHAR(100),
    has_table_booking NVARCHAR(10),
    has_online_delivery NVARCHAR(10),
    is_delivering_now NVARCHAR(10),
    switch_to_order_menu NVARCHAR(10),
    price_range INT,
    aggregate_rating FLOAT,
    rating_color NVARCHAR(50),
    rating_text NVARCHAR(50),
    votes INT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO restaurantes (
                id, restaurant_id, restaurant_name, country_code, city, address, locality, 
                locality_verbose, longitude, latitude, cuisines, average_cost_for_two, 
                currency, has_table_booking, has_online_delivery, is_delivering_now, 
                switch_to_order_menu, price_range, aggregate_rating, rating_color, 
                rating_text, votes)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con id {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for document_id in db:
    try:
        document = db[document_id]
        lote.append((
            document.get("id", ""),
            document.get("restaurant_id", None),
            document.get("restaurant_name", ""),
            document.get("country_code", None),
            document.get("city", ""),
            document.get("address", ""),
            document.get("locality", ""),
            document.get("locality_verbose", ""),
            document.get("longitude", None),
            document.get("latitude", None),
            document.get("Cuisines", ""),
            document.get("average_cost_for_two", None),
            document.get("currency", ""),
            document.get("has_table_booking", ""),
            document.get("has_online_delivery", ""),
            document.get("is_delivering_now", ""),
            document.get("switch_to_order_menu", ""),
            document.get("price_range", None),
            document.get("aggregate_rating", None),
            document.get("rating_color", ""),
            document.get("rating_text", ""),
            document.get("votes", None)
        ))

        if len(lote) >= batch_size:
            insertar_lote(lote)
            lote = []

    except Exception as e:
        print(f"Error al procesar el documento con id {document_id}: {e}")

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [9]:
couch = couchdb.Server("http://localhost:5984/")
usuario = "admin"
contrasena = "123456"
couch.resource.credentials = (usuario, contrasena)

db = couch['autos_couchdb'] 

conn = pyodbc.connect(r'DRIVER={ODBC Driver 17 for SQL Server};'
                      r'SERVER=DESKTOP-CPD7SBF\SQLEXPRESS;'
                      r'DATABASE=couchdb_sqlserver;'
                      r'trusted_connection=yes')

cursor = conn.cursor()

cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='electric_vehicles' AND xtype='U')
CREATE TABLE electric_vehicles (
    id NVARCHAR(50) PRIMARY KEY,
    region NVARCHAR(100),
    category NVARCHAR(100),
    parameter NVARCHAR(100),
    mode NVARCHAR(50),
    powertrain NVARCHAR(50),
    year INT,
    unit NVARCHAR(50),
    value FLOAT
)
""")
conn.commit()

def insertar_lote(lote):
    for fila in lote:
        try:
            cursor.execute("""
            INSERT INTO electric_vehicles (
                id, region, category, parameter, mode, powertrain, year, unit, value
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, fila)
        except Exception as e:
            print(f"Error al insertar el registro con id {fila[0]}: {e}")
    conn.commit()

batch_size = 7000
lote = []

for doc_id in db:
    document = db[doc_id]
    lote.append((
        document.get("id", None),
        document.get("region", None),
        document.get("category", None),
        document.get("parameter", None),
        document.get("mode", None),
        document.get("powertrain", None),
        document.get("year", None),
        document.get("unit", None),
        document.get("value", None)
    ))

    if len(lote) >= batch_size:
        insertar_lote(lote)
        lote = []

if lote:
    insertar_lote(lote)

# Cerrar las conexiones
cursor.close()
conn.close()

In [32]:
# ---------------------------------------- ANALISIS DE SENTIMIENTOS ---------------------------------

In [35]:
# SENTIMIENTOS CSV BBC_NOTICIAS

df = pd.read_csv('BBC_NOTICIAS.csv')

def obtener_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity

def clasificar_sentimiento(polaridad):
    if polaridad > 0:
        return 'Positivo'
    elif polaridad < 0:
        return 'Negativo'
    else:
        return 'Neutral'

df['sentimiento'] = df['description'].apply(obtener_sentimiento)
df['sentimiento_clasificado'] = df['sentimiento'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_sentimientos_BBC_NOTICIAS.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Neutral     4420
Positivo    4143
Negativo    2014
Name: count, dtype: int64

In [36]:
# SENTIMIENTOS CSV OLIMPICOS

df = pd.read_csv('Olimpicos.csv')

def obtener_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity

def clasificar_sentimiento(polaridad):
    if polaridad > 0:
        return 'Positivo'
    elif polaridad < 0:
        return 'Negativo'
    else:
        return 'Neutral'

df['sentimiento'] = df['Event'].apply(obtener_sentimiento)
df['sentimiento_clasificado'] = df['sentimiento'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_sentimientos_JuegosOlimpicos.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Neutral     10542
Positivo      591
Negativo      234
Name: count, dtype: int64

In [37]:
# SENTIMIENTOS CSV RESTAURANTES_RANKING

df = pd.read_csv('Restaurantes_ranking.csv')

def obtener_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity

def clasificar_sentimiento(polaridad):
    if polaridad > 0:
        return 'Positivo'
    elif polaridad < 0:
        return 'Negativo'
    else:
        return 'Neutral'

df['sentimiento'] = df['Rating text'].apply(obtener_sentimiento)
df['sentimiento_clasificado'] = df['sentimiento'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_sentimientos_Restaurantes.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Negativo    2464
Positivo    2391
Neutral     1263
Name: count, dtype: int64

In [38]:
# SENTIMIENTOS CSV VENTAS Y POPULARIDAD AUTOS ELECTRICOS

df = pd.read_csv('VentasYPopularidadDeAutosE.csv')

def obtener_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity

def clasificar_sentimiento(polaridad):
    if polaridad > 0:
        return 'Positivo'
    elif polaridad < 0:
        return 'Negativo'
    else:
        return 'Neutral'

df['sentimiento'] = df['powertrain'].apply(obtener_sentimiento)
df['sentimiento_clasificado'] = df['sentimiento'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_sentimientos_Autos.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Neutral     11735
Positivo      918
Name: count, dtype: int64

In [39]:
# SENTIMIENTOS CSV PELI

df = pd.read_csv('Peli.csv')

def clasificar_sentimiento(popularity):
    if popularity > 10000:
        return 'Muy Positivo'
    elif popularity > 5000:
        return 'Positivo'
    elif popularity > 1000:
        return 'Neutral'
    elif popularity > 100:
        return 'Negativo'
    else:
        return 'Muy Negativo'
        
df['sentimiento_clasificado'] = df['popularity'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_sentimientos_Peliculas.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Muy Negativo    3331
Negativo        1666
Neutral         1333
Muy Positivo     334
Name: count, dtype: int64

In [41]:
# SENTIMIENTOS CSV PELI FORMA 2

df = pd.read_csv('Peli.csv')

def obtener_sentimiento(texto):
    blob = TextBlob(texto)
    return blob.sentiment.polarity

def clasificar_sentimiento(polaridad):
    if polaridad > 0:
        return 'Positivo'
    elif polaridad < 0:
        return 'Negativo'
    else:
        return 'Neutral'

df['sentimiento'] = df['original_title'].apply(obtener_sentimiento)
df['sentimiento_clasificado'] = df['sentimiento'].apply(clasificar_sentimiento)

conteo_sentimientos = df['sentimiento_clasificado'].value_counts()

conteo_df = conteo_sentimientos.reset_index()
conteo_df.columns = ['Sentimiento', 'Cantidad']

conteo_df.to_csv('conteo_n2_sentimientos_Peliculas.csv', index=False)

print(conteo_sentimientos)

sentimiento_clasificado
Neutral    6664
Name: count, dtype: int64